:root {
        /* --main-menu-item-color: #7D7D7D; kebab case */
        /* --mainMenuItemColor: #7D7D7D; camel case*/
        /* main_menu_item_color #7D7D7D;snake case*/
        /* Colors */
    --main-menu-item-color: #7d7d7d;
    --accent-menu-item-color: #03A9F4;
    --gallery-name-color: #b4ad9e;
    --primary-gallery-text-color: #626262;
    /* Fonts */
    --font-family: "Playfair Display", sans-serif;
    --second-family: "Ubuntu", sans-serif;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.menu{
    list-style: none;
}
body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--primary-gallery-text-color);
}
.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid red; */
}
.header {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: var(--accent-menu-item-color);
    background-image: url(../image/girlontheconcert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 1;
    /* width: 100px; */
    top: 0;
    left: 0;
    right: 0;
}
.menu {
    display: flex;
    column-gap: 100px;
    justify-content: center;
}
.gallery{
    padding-top:230px;
    padding-bottom:63px;
}
.menu-link {
    color: var(--main-menu-item-color);
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
}
.menu-link:hover::after,
.menu-link:focus::after {
    color: black;
    background-color: var(--accent-menu-item-color);
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 80px;
    /* margin-top: 10px; */
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 65px;
    row-gap: none;
}
.container-img {
    position: relative;
    border: 2px solid orange;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -3px -3px 4px 0 black;
}
.container-img:hover .gallery-img-desc {
    transform: translate(0);
}
.gallery-img-desc{
    position: absolute;
    transform: translate(-100%);
    transition: transform 250ms ease;
    top: 0;
    left: 0;
    background-color: rgba(221, 160, 221, 0.656);
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 30px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(28, 28, 28);
}
.gallery-item {
    /* width: 420px; */
     flex-basis: calc((100% - 65px) / 2);

}
.gallery-item-name {
    font-family: var(--second-family);
    font-weight: 300;
    color: var(--gallery-name-color);
}
.gallery-item-title {
    font-size: 30px;
    font-weight: inherit;
}
.button{
    display:block;
    color: var(--primary-gallery-text-color);
    padding: 20px 48px;
    border: 1px solid var(--primary-gallery-text-color);
    margin: 95px auto 0;
    color: var(--primary-gallery-text-color);
}
.scroll-btn {
    position: fixed;
    bottom: 55px;
    right: 55px;
    border: 1px solid black;
    border-radius: 100%;
    padding: 15px;
    background-color: blue;
}