.button{
    display:block;
    color: $primary-gallery-text-color;
    padding: 20px 48px;
    border: 1px solid $primary-gallery-text-color;
    margin: 95px auto 0;
    color: $pr;
}
.scroll-btn {
    position: fixed;
    bottom: 55px;
    right: 55px;
    border: 1px solid black;
    border-radius: 100%;
    padding: 15px;
    background-color: blue;
}